/* Mobile Device Start */
@media screen and (max-width: 576px) {
  .container {
    width: 95%;
  }
  .menu ul {
    display: none;
  }
  .logo {
    width: 85%;
    margin-left: 28px;
  }
  .menu {
    width: 15%;
  }
  .logo h3,
  .logo h3 span.travel {
    font-size: 20px;
  }
  .mobile-menu .bar-icon {
    display: inline;
    font-size: 30px;
    margin-left: 8px;
  }
  .banner-area {
    width: 88%;
    height: 98%;
    padding: 30px 15px;
    margin: 0 auto;
  }
  .banner-area .banner-content h1 {
    font-size: 22px;
  }
  .banner-area .banner-content p {
    font-size: 14px;
  }
  .banner-input {
    flex-direction: column;
  }
  .banner-input .input-primary {
    width: 90%;
  }
  .btn-primary {
    width: 90%;
  }
  .tours-area {
    flex-direction: column;
    padding: 0 25px;
  }
  .tours-content,
  .tours-img {
    width: 100%;
  }
  .heading {
    font-size: 20px;
  }
  .title {
    font-size: 14px;
  }
  .distination-area {
    padding: 0px 15px;
  }
  .destination-image {
    grid-template-columns: repeat(1, 1fr);
  }

  .destination-card img {
    height: 176px;
  }
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7 {
    grid-column: 1 / span 1;
  }

  .grid-1 h2,
  .grid-2 h2,
  .grid-3 h2,
  .grid-4 h2,
  .grid-5 h2,
  .grid-6 h2,
  .grid-7 h2 {
    top: 35%;
    font-size: 21px;
  }
  .choose-box {
    flex-direction: column;
  }
  .plan-part {
    flex-direction: column;
    gap: 80px;
  }
  .sign_up {
    margin-left: 36%;
  }
  .price_col1,
  .price_col2,
  .price_col3 {
    margin-right: 0px;
  }
  .box-item1 h4,
  .box-item2 h4,
  .box-item3 h4 {
    font-size: 20px;
  }
  .box-item1 img,
  .box-item2 img,
  .box-item3 img {
    width: 50px;
  }
  .box-item1,
  .box-item2,
  .box-item3 {
    margin: 0 10px;
  }
  .box-item3 {
    margin: 30px auto;
    width: 382px;
    padding: 32px 32px 0 32px;
    text-align: left;
  }
  section.discounts-area {
    margin: 40px 0;
  }
  .discount-box-right {
    width: 100%;
    height: 380px;
    margin: 0 0px 0px 0px;
    padding: 24px;
  }
  .discounts-item1 {
    padding: 190px 23px 20px 23px;
    height: 600px;
    background-size: cover;
  }
  .discount-box-left {
    width: 100%;
    height: 380px;
    margin: 0 0px 0px 0px;
    padding: 24px;
  }
  .discounts-item2 {
    padding: 190px 23px 20px 23px;
    height: 600px;
    background-size: cover;
  }
  .discounts-item3 {
    padding: 190px 23px 20px 23px;
    height: 600px;
    background-size: cover;
  }
  .price.break {
    display: block;
    margin-bottom: 7px;
  }
  .price-heading {
    font-size: 20px;
  }
  .price-color {
    font-size: 16px;
  }
  .perfect-place-area {
    flex-direction: column;
  }
  .perfect-place-content {
    width: 100%;
    padding: 0px 20px;
  }
  .perfect-place-video {
    width: 100%;
    padding: 0px 0px;
    display: inherit;
  }
  .perfect-place-video iframe {
    width: 385px;
    height: 240px;
    border-radius: 8px;
  }
  .perfect-place-content .title-dark {
    font-size: 14px;
  }
  .newsletter-area {
    flex-direction: column;
  }
  .newsletter-discount {
    width: 210px;
  }
  .newsletter-discount p {
    font-size: 14px;
  }
  .newsletter-discount h2 {
    font-size: 20px;
  }
  .footer {
    background: rgba(19, 19, 24, 0.05);
    padding: 50px 20px;
  }
  .footer-logo h3,
  .footer-logo h3 span.travel {
    font-size: 20px;
  }
}
/* Mobile Device End */
